<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "Todo list", root_path, class: "navbar-brand" %>
    <%= render "lists/form_create_index" %>
    </div>
  </div>
</nav>
